* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	list-style: none !important;
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
}

/*===============================Global=================================*/
header {
	width: 100%;
	height: 72px;
	/*background-image: linear-gradient(
		180deg,
		#1b2530 0,
		rgba(27, 37, 48, 0.85)
	);
	background-repeat: repeat-x;*/
	background-color: #0f171e;
}
nav {
	padding: 16px 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
nav img {
	display: inline-block;
	width: 120px;
}
nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul li {
	font-size: 18px;
	opacity: 0.7;
	cursor: pointer;
}
nav ul li:hover {
	opacity: 1;
}
nav ul li:first-child img {
	display: inline-block;
	width: 25px;
	filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg)
		brightness(106%) contrast(106%);
}
nav ul li:first-child select {
	outline: none;
	font-size: 18px;
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}
nav ul li:first-child select option {
	background-color: #fff;
	color: #000;
	cursor: pointer;
	font-size: inherit;
}
nav ul li:first-child {
	margin-right: 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

/*============================MainSections======================*/
main {
	height: 100%;
	width: 100%;
}
section {
	min-height: 480px;
}
.banner-1 {
	background: url("/img/banner-1.jpg") no-repeat top right;
	width: 100%;
	height: 480px;
	-o-object-fit: contain;
	object-fit: cover;
	position: relative;
}
.banner-1-text-container {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	height: 480px;
	width: 40%;
}
.banner-1-text {
	width: 480px;
	margin-left: 48px;
	height: inherit;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 7rem;
}
.banner-1-text h1 {
	font-size: 45px;
	font-weight: 500;
}
.banner-1-text h4 {
	margin-top: 26px;
	font-size: 19px;
	font-weight: normal;
}
.banner-1-text span {
	margin-top: 50px;
	padding: 15px 30px;
	background-color: #0f79af;
	color: #fff;
	border-radius: 2px;
	font-weight: bold;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 0.6px;
}

.banner-2 {
	background: url("/img/banner-2.jpg") no-repeat top left;
	width: 100%;
	height: 480px;
	-o-object-fit: contain;
	object-fit: cover;
	position: relative;
}
.banner-2-text-container {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	height: 480px;
	width: 40%;
	right: 0;
	box-shadow: -90px 0px 50px 1px rgba(0, 0, 0, 1);
}
.banner-2-text {
	width: 480px;
	margin-right: 48px;
	height: inherit;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 6rem;
}
.banner-2-text h1 {
	font-size: 40px;
	font-weight: 400;
}
.banner-2-text h4 {
	margin-top: 26px;
	font-size: 19px;
	font-weight: normal;
}
.banner-2-text span {
	margin-top: 50px;
	padding: 15px 90px;
	background-color: #0f79af;
	color: #fff;
	border-radius: 2px;
	font-weight: bold;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 0.6px;
}

.banner-3 {
	background: url("/img/banner-3.jpg") no-repeat top right;
	width: 100%;
	height: 480px;
	-o-object-fit: contain;
	object-fit: cover;
	position: relative;
}
.banner-3-text-container {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	height: 480px;
	width: 40%;
}
.banner-3-text {
	width: 480px;
	margin-left: 48px;
	height: inherit;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 7rem;
}
.banner-3-text h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
}
.banner-3-text h4 {
	margin-top: 26px;
	font-size: 20px;
	font-weight: normal;
}
.banner-3-text span {
	margin-top: 40px;
	padding: 15px 90px;
	background-color: #0f79af;
	color: #fff;
	border-radius: 2px;
	font-weight: bold;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 0.6px;
}
.banner-3-text small {
	margin-top: 20px;
}

.banner-4 {
	background: url("/img/banner-4.jpg") no-repeat top left;
	width: 100%;
	height: 480px;
	-o-object-fit: contain;
	object-fit: cover;
	position: relative;
}
.banner-4-text-container {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	height: 480px;
	width: 50%;
	right: 0;
	/*box-shadow: -20px 0px 30px 10px rgba(0, 0, 0, 1);*/
}
.banner-4-text {
	width: 550px;
	/*margin-right: 48px;*/
	height: inherit;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 5.3rem;
	right: 3rem;
	opacity: 0.9;
}
.banner-4-text h1 {
	font-size: 40px;
	font-weight: 400;
}
.banner-4-text h4 {
	margin-top: 26px;
	font-size: 19px;
	font-weight: normal;
}
.banner-4-text span {
	margin-top: 50px;
	padding: 15px 90px;
	background-color: #0f79af;
	color: #fff;
	border-radius: 2px;
	font-weight: bold;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 0.6px;
}

.banner-5 img {
	display: inline-block;
}
.banner-5 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 0 50px;*/
	margin: auto 50px;
	text-align: center;
}
.banner-5 h1 {
	font-size: 40px;
	font-weight: normal;
}
.banner-5 h4 {
	font-size: 20px;
	font-weight: normal;
}
.banner-5-section-2-container img {
	margin-right: 5px;
	width: 70%;
}

.banner-6 {
	background: url("/img/banner-5.jpg") no-repeat top right;
	width: 100%;
	height: 480px;
	-o-object-fit: contain;
	object-fit: cover;
	position: relative;
}
.banner-6-text-container {
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	height: 480px;
	width: 40%;
	box-shadow: 30px 0px 30px 0px rgba(0, 0, 0, 0.5);
}
.banner-6-text {
	width: 480px;
	margin-left: 48px;
	height: inherit;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 7rem;
}
.banner-6-text h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
}
.banner-6-text h4 {
	margin-top: 26px;
	font-size: 20px;
	font-weight: normal;
}
.banner-6-text span {
	margin-top: 40px;
	padding: 15px 90px;
	background-color: #0f79af;
	color: #fff;
	border-radius: 2px;
	font-weight: bold;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 0.6px;
}
footer {
	background-color: #111;
	color: white;
	text-align: center;
	width: 100%;
	height: 140px;
}
footer img {
	display: inline-block;
	width: 112px;
	margin-top: 35px;
}
footer ul {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
footer ul li {
	margin-right: 10px;
}
footer ul li a {
	cursor: pointer;
}
footer ul li:last-child {
	opacity: 0.8;
}
